<div class="main-cmn">
	<p class="ttl-cmn">Registration complete!<br>See you at FashionGo Week Palm Springs in May! </p>
	<p class="pop-txt-cmn mt-16">Event access QR code will be sent closer to event date. Get a head start on your visit
		list now by going on FashionGo to favorite your items and vendors to check out at the show!</p>
	<email-name [email]="email" [name]="name"></email-name>
	<!-- <div class="pop-email-info mt-24">
		<p class="email-info-txt">Email: {{ email }}</p>
		<p class="email-info-txt mt-8">Name: Username</p>
	</div> -->
	<!-- <button class="btn-cmn mt-16">Shop FashionGo</button> -->
	<default-button [clsName]="'btn-cmn mt-16'" [btnLabel]="'Shop FashionGo'"></default-button>
</div>