<div class="why-area" [class]="mt">
	<p class="landing-h2">Why FashionGo Week <br>Palm Springs</p>
	<p class="why-icon"><img src="./assets/img/img_why_1.svg" alt=""></p>
	<dl>
		<dt>Seamless High Tech Discovery</dt>
		<dd>Find what you need online and offline in one place. Use AI based digital tools to discover new brands and search
			millions of styles in a minute then shop your favorites in real life over 3 days in Palm Springs. </dd>
	</dl>
	<p class="why-icon"><img src="./assets/img/img_why_2.svg" alt=""></p>
	<dl>
		<dt>The Ultimate Omni-channel Experience</dt>
		<dd>Meet new brands, touch and feel real products, go live instantly on the spot, place orders, securely checkout
			online, then manage and track your shipment all from your mobile device, wherever you are. It’s the best of online
			and offline of wholesale.</dd>
	</dl>
	<p class="why-icon"><img src="./assets/img/img_why_3.svg" alt=""></p>
	<dl>
		<dt>Powered By Industry's Best</dt>
		<dd>Trusted experts in industry events and the #1 B2B Wholesale Online Marketplace with over 20 years of experience
			bring to life the future of wholesale and the solutions and connections this community needs.</dd>
	</dl>

	<div class="convention-area">
		<p class="convention-ss"><img src="./assets/img/img_convention.jpg" alt=""></p>
		<p class="landing-h2">Palm Springs <br>Convention Center</p>
		<p class="convention-txt">Clear blue skies, majestic mountains close enough to touch, come join us at Palm Springs
			you can experience FashionGo Week in relaxed, carefree, and friendly environment. With a long list of great places
			to stay combined with activities and things to do, patios to eat, poolside receptions to enjoy and unwind all
			within distance of the Convention Center, everything is easy and safe.</p>

		<div class="shop-online">
			<p class="shop-online-txt">If you can't join us at Palm Springs, make sure to join us virtually on
				FashionGo!FashionGo Week Online runs concurrently from <span>May 3-5, 2022.</span></p>
			<button class="btn-shop-online">Shop Online on FashionGo</button>
		</div>
	</div>
</div>