<div class="fg-common-footer">
	<div class="footer-main">
		<div class="footer-btn-wrap">
			<button class="footer-btn">Buy on FashionGo</button>
			<button class="footer-btn">Subscribe</button>
			<button class="footer-btn w-100p">Help Center</button>
		</div>
		<ul class="menu-list">
			<li #about>
				<a (click)="onParentClick('about')">About</a>
				<ul class="menu-list-sub">
					<li><a href="#">About Wholesale</a></li>
					<li><a href="#">About Dropshipping</a></li>
					<li><a href="#">Careers</a></li>
				</ul>
			</li>
			<li #support>
				<a (click)="onParentClick('support')">Support</a>
				<ul class="menu-list-sub">
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Help Center</a></li>
					<li><a href="#">Show Info</a></li>
				</ul>
			</li>
			<li #services>
				<a (click)="onParentClick('services')">Services</a>
				<ul class="menu-list-sub">
					<li><a href="#">Consolidated Shipping</a></li>
					<li><a href="#">Rewards Program</a></li>
					<li><a href="#">Style Match</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>