<div class="main-cmn">
	<p class="ttl-cmn">Registration</p>
	<p class="email-ttl">Enter your email to begin</p>
	<input class="input-cmn mt-8" type="text" placeholder="example@email.com" [formControl]="email" email="true">
	<button id="btn-next" class="btn-cmn mt-16" (click)="onNextClick()">Next</button>
	<p class="agree-txt mt-8">By registering for FashionGo Week, you’re agreeing to our <a
			href="https://mobile.fashiongo.net/#/CustomerService/TermsOfUse">Terms of Use</a> and <a
			href="https://mobile.fashiongo.net/#/general/PrivacyPolicy">Privacy Policy</a></p>
</div>