<div class="exhibiting-brands">
	<p class="landing-h2">Exhibiting Brands<a class="sort-link" (click)="onSortClick()">Sort</a></p>
	<p class="brands-txt">Discover now on FashionGo</p>

	<ul class="exhibiting-brands-list">
		
		<brand-card *ngFor="let item of shownBrands" [brand]="item"></brand-card>

		<!-- <li>
			<p class="brand-ss"><img src="../img/img_brand_ss_1.jpg" alt=""></p>
			<div class="brand-info">
				<p class="brand-name">House of Lords Rodeo C...</p>
				<p class="brand-txt">Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by
					the birth of the Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by the
					birth of the...</p>
			</div>
		</li>
		<li>
			<p class="brand-ss"><img src="../img/img_brand_ss_1.jpg" alt=""></p>
			<div class="brand-info">
				<p class="brand-name">House of Lords Rodeo C...</p>
				<p class="brand-txt">Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by
					the birth of the Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by the
					birth of the...</p>
			</div>
		</li>
		<li>
			<p class="brand-ss"><img src="../img/img_brand_ss_1.jpg" alt=""></p>
			<div class="brand-info">
				<p class="brand-name">House of Lords Rodeo C...</p>
				<p class="brand-txt">Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by
					the birth of the Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by the
					birth of the...</p>
			</div>
		</li>
		<li>
			<p class="brand-ss"><img src="../img/img_brand_ss_1.jpg" alt=""></p>
			<div class="brand-info">
				<p class="brand-name">House of Lords Rodeo C...</p>
				<p class="brand-txt">Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by
					the birth of the Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by the
					birth of the...</p>
			</div>
		</li>
		<li>
			<p class="brand-ss"><img src="../img/img_brand_ss_1.jpg" alt=""></p>
			<div class="brand-info">
				<p class="brand-name">House of Lords Rodeo C...</p>
				<p class="brand-txt">Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by
					the birth of the Hayden Los Angeles is a LA-designed, inclusive Womens and Tween apparel brand inspired by the
					birth of the...</p>
			</div>
		</li> -->
	</ul>
</div>