<div class="experience-area">
	<p class="landing-h2">Experience <br>the Future of Wholesale</p>
	<p class="experience-ss"><img src="./assets/img/img_experience.jpg" alt=""></p>
	<p class="experience-txt">FashionGo Week Palm Springs invites retailers everywhere to come discover, connect, and shop
		your digital and physical favorite brands in one place in a way never seen or experienced before. Merging the best
		of online and offline, the FashionGo Week is a real life manifestation of FashionGo over a 3 day affair in Palm
		Springs Convention Center to bring brands and retailers together to build and foster relationships in real life and
		seamlessly continue the business online without missing a beat. <br><br>
		Come experience the real thing, join us and see what FashionGo looks like in real life.</p>
</div>