<div class="main-cmn">
	<p class="ttl-cmn">Begin Registration</p>
	<p class="pop-txt-cmn mt-16">To attend FashionGo Week Palm Springs, <br>
		you must be a fully registered FashionGo buyer.<br>
		Please complete FashionGo's Buyer Registration to join us at Palm Springs.</p>
	<!-- <div class="pop-email-info mt-24">
		<p class="email-info-txt">Email: example@email.com</p>
	</div> -->
	<email-name [email]="email"></email-name>
	<default-button [clsName]="'btn-cmn mt-16'" [btnLabel]="'FashionGo Buyer Registration'"></default-button>
	<p class="buyer-reg-txt mt-8">By clicking on FashionGo Buyer Registration button, you will be directed to Buyer
		Registration page on FashionGo.</p>
</div>