<div class="main-cmn">
	<p class="ttl-cmn">Registration Incomplete!</p>
	<p class="pop-txt-cmn mt-16">You must upload documents to complete your registration. Click below to upload your
		documents in FashionGo My Account. Please note, it takes 2-3 business days for review. Thank you for your interest
		and look forward to seeing you in Palm Springs in May!</p>
	<email-name [email]="email" [name]="name"></email-name>
	<default-button [clsName]="'btn-cmn mt-16'" [btnLabel]="'Upload Document'"></default-button>
</div>